#home-main{
    background-color: lightgrey;

    #container{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        #file-list-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
    
            .single-file-container{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                padding: 0.5rem;
                width: 100%;
                cursor: pointer;
    
                .sno{
                    margin-right: 1rem;
                }
                .filename{
                    margin-right: 1rem;
                }
            }
    
            .single-file-container:hover{
                background-color: darkgray;
            }  
        }
        #file-content-container{
            background-color: lightgreen;
            flex-grow: 1;

            td{
                text-align: center;
            }
        }
        
    }
}