#home-main {
  background-color: lightgrey; }
  #home-main #uploads-container {
    margin: 1rem; }
    #home-main #uploads-container #search-box {
      margin-left: 1rem;
      padding: 0.5rem; }
  #home-main #piechart {
    height: 500px;
    width: 500px; }
  #home-main #container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; }
    #home-main #container #file-list-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      #home-main #container #file-list-container .single-file-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0.5rem;
        width: 100%;
        cursor: pointer; }
        #home-main #container #file-list-container .single-file-container .sno {
          margin-right: 1rem; }
        #home-main #container #file-list-container .single-file-container .filename {
          margin-right: 1rem; }
      #home-main #container #file-list-container .single-file-container:hover {
        background-color: darkgray; }
    #home-main #container #file-content-container {
      background-color: lightgreen;
      flex-grow: 1; }
      #home-main #container #file-content-container #file-table {
        border-spacing: 10px; }
      #home-main #container #file-content-container .sort-icon {
        height: 1rem;
        width: 1rem;
        margin-left: 1rem; }
      #home-main #container #file-content-container .chart-icon {
        height: 1rem;
        width: 1rem;
        margin-left: 1rem; }
      #home-main #container #file-content-container .header-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 1rem;
        padding: 0.5rem; }
      #home-main #container #file-content-container td {
        text-align: center;
        margin: 1rem;
        padding: 1rem; }
      #home-main #container #file-content-container #pagination-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-top: 1rem;
        flex-wrap: wrap;
        margin-left: 2rem; }
        #home-main #container #file-content-container #pagination-container .pagination-index {
          cursor: pointer;
          padding: 0.5rem;
          min-width: 1rem;
          background-color: transparent;
          border: 2px black solid;
          margin: 0.25rem;
          padding: auto; }
